auth0_provider = {
  domain        = "CHANGE_ME.eu.auth0.com"
  client_id     = "CHANGE_ME"
  client_secret = "CHANGE_ME"
}

google_oauth = {
  client_id     = ""
  client_secret = ""
}

create_ec2 = true